<configuration>
  <connectionStrings>
    <add name="DQcombiner" connectionString="Server=tcp:dqcombine.database.windows.net,1433;Initial Catalog=DQcombine;Persist Security Info=False;User ID=spenceryonce;Password={your_password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>

