@model DuoLingQCombiner.Models.WordList
@{
    ViewData["Title"] = "Home Page";
}

@section scripts {
    <script>
        $(document).ready(function () {
            var wordlistDiv = $('#wordlistDiv');
            var wordListGenEmpty = $('#gen');
            getWordListForUser();
            generateDefaultWordListForDb();
            function getWordListForUser()
            {
                $.ajax({
                    url: '/api/DuoWord/1398416',
                    data: {}
                }).done(function (result) { $(wordlistDiv).text(result);});
            }
            function generateDefaultWordListForDb()
            {
                $.ajax({
                    type: 'POST',
                    url: '/api/DuoWord/5',
                    data:
                    {}
                }).done(function(result){$(wordListGenEmpty).text(result);});
            }
        });
    </script>

}

<h1>Word Lists</h1>
<div id="wordlistDiv">Before</div>
<div id="gen"></div>
